body{
    margin: 0   ;
}
header {
    /* background-color: rgb(151, 244, 115);  */
    display: flex;
    justify-content: right;
}
header nav{
    /* background-color: antiquewhite; */
    display: flex;
    padding: 8px;
    width: 10%;
    justify-content: left;
    gap: 16px;
    font-family: "Prompt", sans-serif;
    font-size: 10px;
    font-weight: 50;    
}
header a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}
.main-wrapper{
    /* background-color: aqua; */
    height: 100vh;
    background-size : cover;
    background-image:  linear-gradient( to bottom,#000000aa,#00000011,#00000033),
    url('https://images.pexels.com/photos/2078266/pexels-photo-2078266.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    font-family: "Prompt", sans-serif;
    color: white;
  

}
.content{
    /* background-color: antiquewhite; */
    text-align: center;
    margin: 150px  100px;
    margin-bottom: 20px;
    
}
.text-c{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    

}
.text-s{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2px;
}
.text-percent{
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2px;
}
.progress{
width: 20%;
margin-left: 40%;
margin-right: 40%;

    /* background-color: antiquewhite; */
}
.progress-bar{
    display: flex;
    height: 10px;
    width: 100%;
  
}
.progress-gra-top{ 
    background-image:  linear-gradient( to top,#00000066,#00000022,#00000000);
    height: 10px;
    margin-top: 10px;
}
.progress-gra-bottom{ 
    background-image:  linear-gradient( to bottom,#00000066,#00000022,#00000000);
    height: 10px;
    margin-bottom: 0px;
}
.progress80{
    background-color: rgb(169, 228, 227);
    width: 80%;
    height: 10px;
}
.progress20{
    background-color: rgb(153, 152, 151);
    width: 20%;
    height: 10px;
}
.percent{
    /* background-color: antiquewhite; */
    display: flex;
    height: 10px;
    justify-content: space-between; /*vertical*/
    margin-top: 0px;
    
}
.content-b{
    display: flex;
    justify-content: center;
    color: grey;
}
.text-n{
    background-color: rgb(169, 228, 227);
    font-size: 10px;
    text-transform: capitalize;
    width: 100px;
    text-align: center;
    padding: 4px;
}

.logo{
    /* background-color: rgb(169, 228, 227); */
    width: 40px;
    height: 40px; 
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logocontainer{
    /* background-color: rgb(199, 190, 229); */
    color: white;
    display: flex;
    gap: 16px;
    padding: 16px;
    font-size: 24px;

}
